

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 50px 1fr 1fr 100px;
    grid-template-areas: 
    "nav nav"
    "section aside"
    "article aside"
    "footer footer";
    
    height: 100vh;
    grid-gap: 4px;
    }
    
    nav {
        background-color: black;
        grid-area: nav;
    }
    
    footer {
        background-color: black;
        grid-area: footer;
    }
    
    section {
        background-color: darkgray;
        border-style: solid;
        grid-area: section;
    }
    
    article {
        background-color: darkgray;
        border-style: solid;
        grid-area: article;
    }
    
    
    aside {
        background-color: darkgray;
        border-style: solid;
        grid-area: aside;
    }
    
    
    
    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    
    a {
        color: white;
        text-decoration: inherit;
        font-size: 20px;
    }
    
    
    h1 {
        text-align: center;
        margin-top: 40px;
    }
    
    h2 {
        text-align: center;
        margin-top: 40px;
    }
    
    h3 {
        text-align: center;
        margin-top: 40px;
    }
     
    
    img {
        justify-content: center;
        width: 800x;
        height: 200px;
        border-style: solid;
    }
    
    
    div {
        display: flex;
        justify-content: center;
       margin: 40px 40px;
       font-family: 'Times New Roman', Times, serif;
       font-size: 20px;
    }
    
    footer {
        text-align: center;
       color: white;
       font-size: 40px;
    }
    
    aside p {
        font-family: 'Times New Roman', Times, serif;
       font-size: 25px;
    }