body {
    padding: 0;
    margin: 0;
}

header {
    background-color: red;
    border-style: solid;
}

section {
    background-color: darkgray;
    border-style: solid;
}

div {
    display: grid;
    grid-row: auto;
}


h1 {
    text-align: center;
    margin: 50px 50px;
}

#hunter-eblem {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background-color: darkgray;
}

h2 {
    text-align: center;
    margin: 50px 50px;
    background-color:red;
    border-radius: 10px;
}

h3 {
    text-align: center;
    margin: 50px 50px;
    background-color:red;
    border-radius: 10px;
}

h4 {
    text-align: center;
    margin: 50px 50px;
    background-color:red;
    border-radius: 10px;
}

p {
    margin: 50px 50px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 20px;
    font-size: 20px;
}

ol {
    font-size: 20px;
    margin: 8px;
}

.hunterphoto {
    width: 1774px;
    height: 200px;
}